.idea
src/notion_lib/client/__pycache__
src/notion_lib/nEndpoints/__pycache__
src/notion_lib/nTypes/__pycache__
src/notion_lib/utils/__pycache__
src/notion_lib/nModels/__pycache__
src/notion_lib/nModels/blocks_v1/__pycache__
src/notion_lib/tests/__pycache__
src/notion_lib/nModels/blocks/__pycache__
OLDSTYLE
src/notion_lib/gui/__pycache__
src/notion_lib/gui/logic/__pycache__
src/notion_lib/gui/widgets/__pycache__
src/notion_lib/gui/widgets/automation_tools/__pycache__
src/notion_lib/gui/dialogs/__pycache__
client/__pycache__
gui/__pycache__
gui/logic
gui/widgets/__pycache__
gui/widgets/automation_tools/__pycache__
nModels/__pycache__
nModels/blocks/__pycache__
nTypes/__pycache__
tests/__pycache__
utils/__pycache__
nEndpoints/__pycache__
