.idea
src/notion_lib/client/__pycache__
src/notion_lib/nEndpoints/__pycache__
src/notion_lib/nTypes/__pycache__
src/notion_lib/utils/__pycache__
src/notion_lib/nModels/__pycache__
src/notion_lib/nModels/blocks_v1/__pycache__
src/notion_lib/tests/__pycache__
src/notion_lib/nModels/blocks/__pycache__
OLDSTYLE
src/notion_lib/gui/__pycache__
src/notion_lib/gui/logic/__pycache__
src/notion_lib/gui/widgets/__pycache__
src/notion_lib/gui/widgets/automation_tools/__pycache__
src/notion_lib/gui/dialogs/__pycache__
